### Домашнее задание «Библиотека Pandas»

#### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [ ]:
rating_data = pd.read_csv("ratings.csv", encoding='utf-8')
rating_data.head()

In [ ]:
rating_data.query('rating == 5', inplace=True)
rating_data.value_counts('movieId')

In [ ]:
movie_data = pd.read_csv("movies.csv", encoding='utf-8')
movie_data.head()

In [ ]:
movie_data.query('movieId == 318', inplace=True)
movie_data

#### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [18]:
power_data = pd.read_csv("power.csv", encoding='utf-8')
power_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [4]:
power_data[power_data['country'].str.contains('sto', case=False) ]['country'].unique()

array(['Estonia'], dtype=object)

In [ ]:
'Latvia', 'Lithuania', 'Estonia'

In [19]:
power_data = power_data[
    (power_data['quantity'] > 0) &
    (
        (power_data['country'] == 'Latvia') |
        (power_data['country'] == 'Lithuania') |
        (power_data['country'] == 'Estonia')
    ) &
    (
        (power_data['category'] == 4) |
        (power_data['category'] == 12) |
        (power_data['category'] == 21)
    ) &
    (power_data['year'] <= 2010) &
    (power_data['year'] >= 2005)
]

In [20]:
power_data.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4

In [21]:
sum(power_data['quantity'])

240580.0

#### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [39]:
quotes = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
quotes.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1016929,-,1021977,"-0,49 %",-05048,14:03:00
1,NaN,EUR/RUB,871032,-,875570,"-0,52 %",-04538,14:04:00
2,NaN,USD/RUB,730060,-,734020,"-0,54 %",-03960,14:04:00
3,NaN,JPY/RUB,06694,-,06730,"-0,53 %",-00036,14:03:00
4,NaN,CNY/RUB,112233,-,112778,"-0,48 %",-00545,14:10:00

In [43]:
quotes.drop(quotes.columns[[0]], axis=1, inplace=True)
quotes.head()

,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,GBP/RUB,1016929,-,1021977,"-0,49 %",-05048,14:03:00
1,EUR/RUB,871032,-,875570,"-0,52 %",-04538,14:04:00
2,USD/RUB,730060,-,734020,"-0,54 %",-03960,14:04:00
3,JPY/RUB,06694,-,06730,"-0,53 %",-00036,14:03:00
4,CNY/RUB,112233,-,112778,"-0,48 %",-00545,14:10:00